{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": ["plugin:react/recommended", "eslint:recommended"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "after": false,
        "afterEach": false,
        "before": false,
        "beforeEach": false,
        "console": false,
        "describe": false,
        "it": false,
        "module": false,
        "process": false,
        "require": false,
        "window": false,
        "faker": false,
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "flowtype"
    ],
    "rules": {
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "comma-dangle": [
            "error",
            "never"
        ],
        "no-case-declarations": 0,
        "indent": [2, 2, {"SwitchCase": 1}],
        "react/no-unused-prop-types": 2,
        "default-case": 0, // Required default case is nonsense.
        "key-spacing": [2, { "beforeColon": false, "afterColon": true, "mode": "minimum" }],
        "max-len": [2, { "code": 120, "ignoreComments": true }],
        "newline-after-var": 2,
        "newline-before-return": 2,
        "no-debugger": 2,
        // eslint-plugin-import
        "flowtype/define-flow-type": 2,
        "flowtype/use-flow-type": 2,
        "flowtype/space-after-type-colon": [2, "always", { "allowLineBreak": false }],
        "flowtype/space-before-generic-bracket": [2, "never"],
        "flowtype/space-before-type-colon": [2, "never"],
        "flowtype/union-intersection-spacing": [2, "always"],
    }
}